@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:ital,wght@1,900&display=swap');
body{
    font-family: Poppins;
    background-color: #000;
    color: #eee;
    margin: 0;
    font-size: 12px;
}
/*a{
    text-decoration: none;
    color: #eee;
}*/
header{
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}
/*header a{
    margin-right: 40px;
    color: #f1683a;
}
header a:hover{
    background-color: #555;
}*/
/* carousel */
.carousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px;
    position: relative;
}
.carousel .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(
        to top, #000 0.5%, transparent
    );
}
.carousel .list .item .content{
    position: absolute;
    top: 10%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
    z-index: 1;
}
.carousel .list .item .content .pieces{
    color: #000;
    font-size: 20px;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
.carousel .list .item .content .author{
    font-weight: bold;
    letter-spacing: 10px;
    padding-bottom: 10px;
    color: gold;
}

.carousel .list .item .content .title{
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 5em;
    line-height: 1em;
    color: #f1683a;
    list-style: 1.3em;
}
.carousel .list .item .content .des{
    font-size: 2em;
    color: gold;
    padding-top: 10px;
}
.carousel .list .item .content .text{
    color: #ff0000;
    font-size: 50px;
}
.carousel .list .item .content .text1{
    color: #ff0000;
    font-size: 50px;
}
.carousel .list .item .content .text2{
    color: #ff0000;
    font-size: 50px;
}
.carousel .list .item .content .text3{
    color: #ff0000;
    font-size: 50px;
}
.carousel .list .item .content .text4{
    color: #ff0000;
    font-size: 50px;
}
.carousel .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}    
.carousel .list .item.active .author:nth-child(1),
.carousel .list .item.active .title,
.carousel .list .item.active .des:nth-child(3) {
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .1s .2s ease-in-out 1 forwards;
}
.carousel .list .item.active .title{
    animation-delay: 0.3s;
}
.carousel .list .item.active .des:nth-child(3){
    animation-duration: 0.4s;
}

/* thumbnail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 5%;
    width: max-content;
    width: 100%;
    height: 250px;
    z-index: 11;
    display: flex;
    gap: 10px;
    /*padding: 0 50px;*/
    box-sizing: border-box;
    overflow: auto;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    filter: brightness(.8);
    transition: .5s;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item.active{
    filter: brightness(1.0);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
    
    
}
.thumbnail .item .content .title{
    font-weight: bold;
}
.thumbnail .title{
    color: #f1683a;
}
.thumbnail .des{
    font-size: 1.5em;
    color: gold;
}

/* arrow */
.carousel .arrows{
    position: absolute;
    top: 55%;
    right: 60%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.carousel .arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: 0;
    font-family: monospace;
    color: #000;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    z-index: 100;
}
.carousel .arrows button:hover{
    background-color: #f1683a;
    color: #555;
}

.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}

/*.carousel .list .item .content .toggle{
    position: absolute;
    top: 55%;
    right: 40%;
}*/

.toggle {
    position: absolute;
    top: 0%;
    left: 70%;
    
    display: flex;
    width: 80px;
    height: 40px;
    background-color: black;
    border-radius: 30px;
    z-index: 1;
    transition: 0,5s;
}
.toggle-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: gold;
    border-radius: 50px;
    cursor: pointer;
    transition: 0,5s;
}
.toggle.active {
    background-color: aqua;
    box-shadow: 0 0 10px aqua, 0 0 40px aqua, 0 0 80px aqua;
}
.toggle.active .toggle-btn {
    left: 45px;
    background: rgb(255, 0, 0);
}

.toggle1 {
    position: absolute;
    top: 0%;
    left: 70%;
    
    display: flex;
    width: 80px;
    height: 40px;
    background-color: black;
    border-radius: 30px;
    z-index: 1;
    transition: 0,5s;
}
.toggle-btn1 {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: gold;
    border-radius: 50px;
    cursor: pointer;
    transition: 0,5s;
}
.toggle1.active {
    background-color: aqua;
    box-shadow: 0 0 10px aqua, 0 0 40px aqua, 0 0 80px aqua;
}
.toggle1.active .toggle-btn1 {
    left: 45px;
    background: rgb(255, 0, 0);
}
.toggle2 {
    position: absolute;
    top: 0%;
    left: 70%;
    
    display: flex;
    width: 80px;
    height: 40px;
    background-color: black;
    border-radius: 30px;
    z-index: 1;
    transition: 0,5s;
}
.toggle-btn2 {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: gold;
    border-radius: 50px;
    cursor: pointer;
    transition: 0,5s;
}
.toggle2.active {
    background-color: aqua;
    box-shadow: 0 0 10px aqua, 0 0 40px aqua, 0 0 80px aqua;
}
.toggle2.active .toggle-btn2 {
    left: 45px;
    background: rgb(255, 0, 0);
}
.toggle3 {
    position: absolute;
    top: 0%;
    left: 70%;
    
    display: flex;
    width: 80px;
    height: 40px;
    background-color: black;
    border-radius: 30px;
    z-index: 1;
    transition: 0,5s;
}
.toggle-btn3 {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: gold;
    border-radius: 50px;
    cursor: pointer;
    transition: 0,5s;
}
.toggle3.active {
    background-color: aqua;
    box-shadow: 0 0 10px aqua, 0 0 40px aqua, 0 0 80px aqua;
}
.toggle3.active .toggle-btn3 {
    left: 45px;
    background: rgb(255, 0, 0);
}
.toggle4 {
    position: absolute;
    top: 0%;
    left: 70%;
    
    display: flex;
    width: 80px;
    height: 40px;
    background-color: black;
    border-radius: 30px;
    z-index: 1;
    transition: 0,5s;
}
.toggle-btn4 {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: gold;
    border-radius: 50px;
    cursor: pointer;
    transition: 0,5s;
}
.toggle4.active {
    background-color: aqua;
    box-shadow: 0 0 10px aqua, 0 0 40px aqua, 0 0 80px aqua;
}
.toggle4.active .toggle-btn4 {
    left: 45px;
    background: rgb(255, 0, 0);
}



/*.carousel .list .item.active:nth-child(1){
    z-index: 1;
}*/

/* effect next click */
/*.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 5%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage{
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
@keyframes showThumbnail{
    to{
        width: 150px;
    }
}
.carousel.next .thumbnail{
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}
@keyframes transformThumbnail{
    to{
        transform: translateX(0);
    }
}
/* effect prev click */
/*.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}
.carousel.prev .list .item:nth-child(2) img{
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s linear 1 forwards;
}
@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 5%;
        bottom: 50px;
    }
}
.carousel.prev .thumbnail .item:nth-child(1){
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .list .item:nth-child(2) .author,
.carousel.prev .list .item:nth-child(2) .title,
.carousel.prev .list .item:nth-child(2) .des{
    animation: contentOut 1.5s linear 1 forwards;
}
@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}*/






@media  screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
    header a{
        margin-right: 20px;
    }
    .carousel .author{
        font-size: 1.5em;
    }
    .carousel .des{
        font-size: 4em;
    }
    .thumbnail .des{
        font-size: 1.5em;
    }
    .thumbnail{
        justify-content: start;
    }
}